.header {
    text-align: center;
    background: #333;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.logo {
    min-width: 20px;
    width: 20px;
}

.titleContainer h1 {
    margin: 0;
}
